<h1>Home#land</h1>
<p>Find me in app/views/home/land.html.erb</p>
<%= I18n.locale %>

<%= t :hello %>

<p>
<%= link_to_unless I18n.locale == :en, "English", locale: :en %>
|
<%= link_to_unless I18n.locale == :fr, "Francais", locale: :fr %>
</p>