<a class="tile tile-lg tile-pink ripple-effect" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      
      <span class="tile-img tile-img-bg rta"></span>
      <span class="tile-holder tile-holder-sm">
        <span class="title">Rod Trail Association</span>
      </span>
    </span>      
  </span>
</a>

<a class="tile tile-lg tile-narrow tile-half-height tile-deep-orange ripple-effect" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <h3 class="next-trail-name">
        The Trail of Rodrigues
      </h3>
      <p>
        12th November 2016
      </p>
    </span>      
  </span>
</a>

<a class="tile tile-lg tile-narrow tile-half-height tile-deep-orange ripple-effect" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <h3 class="next-trail-name">
        Rod Trail League
      </h3>
    </span>      
  </span>
</a>

<div class="tile tile-lg tile-cyan">
  <span class="content-wrapper">
    <span class="tile-content">
      <h3 class="next-trail-name">
        Rod Trail Association
      </h3>
      <p>
        You are a runner, perhaps a hiker or perhaps just someone who likes being out in Nature. Well, this site is for you. 
      </p>
      <p>
        Rando-Trail & Nature was created for people like us, so feel at home and contact us if you feel the urge, we would be happy to assist or share or provide a comment. 
      </p>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-green ripple-effect" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <h3 class="next-trail-name">
        Rod Trail Association
      </h3>
      <p>
        You are a runner, perhaps a hiker or perhaps just someone who likes being out in Nature. Well, this site is for you. 
      </p>
      <p>
        Rando-Trail & Nature was created for people like us, so feel at home and contact us if you feel the urge, we would be happy to assist or share or provide a comment. 
      </p>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-flexible-height tile-light-blue ripple-effect" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <h3>The Committee</h3>
      <ul>
        <li>Menery FRANCOIS – President</li>
        <li>Aman HORTENSE – Treasurer</li>
        <li>Aurele ANDRE – General Secretary</li>
        <li>Max RABOUDE – Security</li>
        <li>Arnaud MEUNIER – General Organisation</li>
        <li>Henrico LOUIS– General Organisation and logistics / Participants Transport</li>
        <li>Jean Claude AH KANG – Marshals and refreshments</li>
        <li>Nathalie BIRAM – Awards and Sponsors</li>
        <li>Marianna MEUNIER – Awards and Sponsors</li>
        <li>Harry LUCCHESI – Guests/transport</li>
        <li>Jérôme DESIRE – Website</li>
        <li>Henrico LOUIS – Cultural organisation</li>
        <li>Eric LACROIX – Technical director of the trail</li>
        <li>Fok Keng HO TU NAm – Food and Beverages</li>
        <li>Sherilane BEGUE– General secretarial activities</li>
        <li>Alfred ROSE– Medical</li>
        <li>Fok Keng HO TU NAM – Sustainable development</li>
        <li>Baby PASNIN/Bernadette PLAICHE – Prize Giving Ceremony/Animations</li>
        <li>Carine PROSPER/Roselyn ANDRE RENE – Cocktail of Invitees</li>
      </ul>
    </span>      
  </span>
</div>

<div class="tile tile-short tile-narrow tile-amber" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      
      <span class="tile-img tile-img-bg girls-in-red"></span>
      
    </span>      
  </span>
</div>

<a class="tile tile-short tile-narrow tile-amber ripple-effect" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      
      <span class="tile-img tile-img-bg pig-image"></span>
      <span class="tile-holder tile-holder-sm">
        <span class="title">Rodrigues</span>
      </span>
    </span>      
  </span>
</a>