<div class="dashboard display-animation">

  <a class="tile tile-lg tile-sqr">
    <span class="content-wrapper">
      <span class="tile-content">
        
        <span class="tile-img tile-img-bg pig-image">
          
        </span>
        
        
      </span>      
    </span>
  </a>

  <div class="tile tile-lg tile-deep-orange">
    <span class="content-wrapper">
      <span class="tile-content">
        <h2>
      <h3 class="next-trail-name">
          Trail de Rodrigues
        </h3>
        
    </h2>
    <p>
      A la source de l'Esprit du Trail</p>

      <p>42km de Plaisir – 22km de Bonheur – 7km d'Authenticité</p>

      <p>
        Le Trail de Rodrigues (6eme édition aura lieu le 8 novembre 2015). C'est l'évènement incontournable dans le calendrier d'évènementiels de l'île Rodrigues.
      </p>
      
      <p>
        S'inserant dans la logique du développement durable, le Trail de Rodrigues vise à réunir des hommes et des femmes dans les sentiers autour d'une pratique saine alliant le sport, la découverte et le plaisir de vivre en harmonie avec la nature.
      </p>


<p>
Le Trail de Rodrigues. L'Eden du trail rythme avec l'Evasion et l'Authenticité. Il se réalise avec et pour la communauté.
    </p>
    
    
        
      </span>      
    </span>
  </div>

  <a class="tile tile-lg tile-pink ripple-effect" href="#">
    <span class="content-wrapper">
      <span class="tile-content">
        
        <span class="tile-img tile-img-bg primary-tile"></span>
        <span class="tile-holder tile-holder-sm">
          <span class="title">Trail of Rodrigues</span>
        </span>
      </span>      
    </span>
  </a>

  <a class="tile tile-lg tile-sqr tile-deep-orange ripple-effect" href="#">
    <span class="content-wrapper">
      <span class="tile-content">
        <h3 class="next-trail-name">
          Les Parcours
        </h3>
        <p>
          12th November 2016
        </p>
        <p>
          You are a runner, perhaps a hiker or perhaps just someone who likes being out in Nature. Well, this site is for you. 
        </p>
      </span>      
    </span>
  </a>

  <a class="tile tile-lg tile-sqr">
    <span class="content-wrapper">
      <span class="tile-content">
        
        <span class="tile-img tile-img-bg pig-image">
          
        </span>
        
        
      </span>      
    </span>
  </a>
  
  <div class="tile tile-lg tile-deep-orange">
    <span class="content-wrapper">
      <span class="tile-content">
        <h2>
      <h3 class="next-trail-name">
          About
        </h3>
        
    </h2>
    <p>Le Trail de Rodrigues (6eme édition aura lieu le 8 novembre 2015). C'est l'évènement incontournable dans le calendrier d'évènementiels de l'île Rodrigues.</p>

<p>S'inserant dans la logique du développement durable, le Trail de Rodrigues vise à réunir des hommes et des femmes dans les sentiers autour d'une pratique saine alliant le sport, la découverte et le plaisir de vivre en harmonie avec la nature.</p>

<p>Le Trail de Rodrigues. L'Eden du trail rythme avec l'Evasion et l'Authenticité. Il se réalise avec et pour la communauté.</p>

<p>Le Trail de Rodrigues 2015 aura pour thématique: " La Jeunesse et le Trail" visant à inculquer chez la jeune génération une culture sportive, le gout de l'effort et surtout le respect de l'environnement.</p>

<p>Oui, Rodrigues symbolise pour de plus en plus de personnes cette halte bénéfique, presque hors du temps, cet arrêt sur image où se mêlent quiétude et beauté dans l'oeil de celui qui observe, à la recherche d'un idéal en rupture avec le réel malhônnête, sans foi ni loi...</p>

Faire halte dans une oasis de tranquilité ne peut qu'être bénéfique puisqu'elle permet d'extirper le vrai du faux et de faire le vide face à soi-même. C'est faire oeuvre de salut public que de faire la vidange des émotions négatives.
    
        
      </span>      
    </span>
  </div>

</div>
 
