<a class="tile tile-lg tile-pink ripple-effect" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      
      <span class="tile-img tile-img-bg load-first runners-through-trees"></span>
      <span class="tile-holder tile-holder-sm">
        <span class="title">Trail de Rodrigues</span>
      </span>
    </span>      
  </span>
</a>

<div class="tile tile-lg tile-narrow tile-deep-orange swap-me">
  <span class="content-wrapper">
    <span class="tile-content">
        <h3 class="next-trail-name">
          Trail de Rodrigues
        </h3>
        <p>
          A la source de l'Esprit du Trail</p>

        <p>42km de Plaisir – 22km de Bonheur – 7km d'Authenticité</p>

        <p>
          Le Trail de Rodrigues (6eme édition aura lieu le 8 novembre 2015). C'est l'évènement incontournable dans le calendrier d'évènementiels de l'île Rodrigues.
        </p>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-full-width tile-flexible-height tile-light-blue ripple-effect swap-me-with" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="left-col">
        <h3 class="next-trail-name">
          A la source de l'Esprit du Trail
        </h3>

        <p>S'inserant dans la logique du développement durable, le Trail de Rodrigues vise à réunir des hommes et des femmes dans les sentiers autour d'une pratique saine alliant le sport, la découverte et le plaisir de vivre en harmonie avec la nature.</p>

        <p>Le Trail de Rodrigues. L'Eden du trail rythme avec l'Evasion et l'Authenticité. Il se réalise avec et pour la communauté.</p>

        <p>Le Trail de Rodrigues 2015 aura pour thématique: " La Jeunesse et le Trail" visant à inculquer chez la jeune génération une culture sportive, le gout de l'effort et surtout le respect de l'environnement.</p>

        <p>Oui, Rodrigues symbolise pour de plus en plus de personnes cette halte bénéfique, presque hors du temps, cet arrêt sur image où se mêlent quiétude et beauté dans l'oeil de celui qui observe, à la recherche d'un idéal en rupture avec le réel malhônnête, sans foi ni loi...</p>

        <p>Faire halte dans une oasis de tranquilité ne peut qu'être bénéfique puisqu'elle permet d'extirper le vrai du faux et de faire le vide face à soi-même. C'est faire oeuvre de salut public que de faire la vidange des émotions négatives.</p>
      </span>
      <span class="right-col">


        <p>Le Trail de Rodrigues, est une occasion de se ressourcer, tant dans l'effort physique que dans la douceur des paysages. De renaitre sur une toute petite île dont le coeur est resté intact. le calme y prend le relais de l'agitation caractéristique de ses grandes voisines qui se parent des habits de la modernité dont elles couvrent aussi les maux.</p>

        <p>Il fut un temps, en effet, où la vie s'écoulait au rythme des marrées, des semences et des récoltes. Elles ont toutes été abandonnées par nos sociétés de consommation qui se rendent compte, douloureusement, que le bonheur ne s'achête pas dans les hypermarchés et que la technologie de pointe, les gadgets et les joujoux des grands enfants que nous sommes ne sortiront jamais de leur artificialité.</p>

        <p>Alors Rodrigues, le 8 Novembre prochain, autant faire plein de tous nos sens.</p>

        <p>L'accueil chaleureux et légendaire des Rodriguais vous garantira un séjour fort agréable.</p>

      </span>
    </span> 
  </span>
</div>



<div class="tile tile-lg tile-narrow tile-green ripple-effect" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <h3 class="next-trail-name">
        Registration
      </h3>
      <p>
        Adults: Rs 150
      </p>
      <p>
        Chidren: Rs 100
      </p>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-light-blue">
  <span class="content-wrapper">
    <span class="tile-content">
      
      <span class="tile-img tile-img-bg kids-watch-with-umbrella"></span>
      
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-full-width tile-flexible-height tile-light-blue ripple-effect" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <h3 class="next-trail-name">
        Participants
      </h3>
      <%= I18n.locale %>

      <%= t :hello %>

      
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates voluptatibus cumque unde, optio culpa sunt possimus a! Maiores repellendus dignissimos, quos unde quasi, adipisci non rerum magnam optio obcaecati delectus.
      </p>
    </span>      
  </span>
</div>

<%= render "common/testimonial" %>
<%= render "common/sponsors" %>

 
