<tr id="<%= dom_id(event_registration.profile) %>">
  <td><%= event_registration.profile.full_name %></td>
  <td><%= event_registration.race_category %></td>
  <td><%= event_registration.amount %></td>
</tr>