<table id="participants">
  <thead>
    <tr>
        <th data-field="id">Name</th>
        <th data-field="name">Category</th>
        <th data-field="price">Paid</th>
    </tr>
  </thead>

  <tbody>
    <%= render @registrations %>
  </tbody>
</table>

