<h2>
  <%= "#{@event.distance}k" %>
</h2>
<p>
  <strong>Start</strong> <%= @event.departure %>
<br />
  <strong>Via</strong> <%= @event.course %>
<br />
  <strong>Finish</strong> <%= @event.arrival %>
</p>