<div class="tile tile-lg tile-full-width tile-flexible-height tile-light-blue ripple-effect" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>
        Participants
      </h2>
      <% @trail.events.each do |event| %>
      <span class="left-col">
        <h3>
          <%= "#{event.distance}k" %>
        </h3>
        <ul>
          <% @participants[event].each do |participant| %>
            <li>
              <%= participant.full_name %>
            </li>
          <% end %>
        </ul>
      </span>
      <% end %>
    </span>      
  </span>
</div>