<div class="tile tile-lg tile-narrow tile-green">
  <span class="content-wrapper">
    <span class="tile-content">
      <h3 class="next-trail-name">
        Register
      </h3>
      <p>
        Adults: Rs 150
      </p>
      <p>
        Chidren: Rs 100
      </p>
      <% if user_signed_in? %>
        <% if @registered_event %>
          <%= "You are registered for the #{@registered_event.distance}k event" %>
        <% else %>
          <% @trail.events.each do |event| %>
            <p>
              <% if current_user.has_profile? %>
                <%= link_to "Register for #{event.distance}k", edit_profile_path(current_user.profile.id, event: event.id), class: "waves-effect waves-light btn" %>
              <% else %>
                <%= link_to "Register for #{event.distance}k", new_profile_path(event: event.id), class: "waves-effect waves-light btn" %>
              <% end %>
            </p>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to 'Login to register', new_user_session_path, class: "waves-effect waves-light btn" %>
      <% end %>
    </span>      
  </span>
</div>