<%= link_to trail_path(trail) do %>
  <div class="col-md-4 trail-box">
    <div class="wrap">
      <div class="content">
        <h3>
          <%= trail.name %>
        </h3>
        <p>
          <%= trail.date.strftime("%d %B") if trail.date %>
        </p>
        <p>
          <% trail.events.each do |event| %>
            <%= "#{event.distance}k" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
<% end %>