<div class="tile tile-short tile-narrow tile-dark-green">
  <span class="content-wrapper">
    <span class="tile-content">
      <h3 class="next-trail-name">
        <%= t('trail_league.title') %>
      </h3>
      <span class="tile-img"></span>
      <span class="tile-holder tile-holder-sm">
        <span class="title">Calendar</span>
      </span>
    </span>      
  </span>
</div>
<%= render @trails %>