<a class="tile tile-short tile-narrow tile-pink ripple-effect tdr tdr-wrap" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <h3 class="next-trail-name">
        Trail of Rodrigues
      </h3>
      <span class="tile-img"></span>
      <span class="tile-holder tile-holder-sm">
        <span class="title">Google Guidelines</span>
      </span>
    </span>      
  </span>
</a>
<%= render @trails %>