
    <div class="dashboard display-animation" style="margin: 0 auto; width: 100%;">
      <a class="tile tile-lg tile-sqr tile-pink ripple-effect tdr tdr-wrap" href="#">
        <span class="content-wrapper">
          <span class="tile-content">
            <h3 class="next-trail-name center">
              <%= @trail.name %>
            </h3>
            <p class="center">
              <%= @trail.date.strftime("%d %B") if @trail.date %>
            </p>
            <span class="tile-img"></span>
            <span class="tile-holder tile-holder-sm">
              <span class="title">Google Guidelines</span>
            </span>
          </span>      
        </span>
      </a>
      <div class="tile tile-lg tile-deep-orange">
        <span class="content-wrapper">
          <span class="tile-content">
            <h2>
          <%= @trail.name %>
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga recusandae quae dolorem magnam, harum doloremque nemo, adipisci non unde amet, nobis atque libero odio dolor et ea officiis, sit at?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga recusandae quae dolorem magnam, harum doloremque nemo, adipisci non unde amet, nobis atque libero odio dolor et ea officiis, sit at?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga recusandae quae dolorem magnam, harum doloremque nemo, adipisci non unde amet, nobis atque libero odio dolor et ea officiis, sit at?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga recusandae quae dolorem magnam, harum doloremque nemo, adipisci non unde amet, nobis atque libero odio dolor et ea officiis, sit at?
        </p>
            <span class="tile-img"></span>
            <span class="tile-holder tile-holder-sm">
              <span class="title">Google Guidelines</span>
            </span>
          </span>      
        </span>
      </div>
    </div>
 
