<div class="row">
  <div class="col m12 l6">
    <div>
      <div class="content">
        <h3 class="next-trail-name center">
          <%= @trail.name %>
        </h3>
        <p class="center">
          <%= @trail.date.strftime("%d %B") if @trail.date %>
        </p>
      </div>
    </div>
  </div>
  <div class="col m12 l6 tdr" style="background-color: rgba(175, 180, 43, 0.85); color: #fff;">
    <div class="">
      <div class="content">
        <div>
        <h2>
          <%= @trail.name %>
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga recusandae quae dolorem magnam, harum doloremque nemo, adipisci non unde amet, nobis atque libero odio dolor et ea officiis, sit at?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga recusandae quae dolorem magnam, harum doloremque nemo, adipisci non unde amet, nobis atque libero odio dolor et ea officiis, sit at?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga recusandae quae dolorem magnam, harum doloremque nemo, adipisci non unde amet, nobis atque libero odio dolor et ea officiis, sit at?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga recusandae quae dolorem magnam, harum doloremque nemo, adipisci non unde amet, nobis atque libero odio dolor et ea officiis, sit at?
        </p>
      </div>
      </div>
    </div>
  </div>

