<% content_for :image_header do %>
  <div style="<%= show_trail_bg %>" class="image-header">
    <h1>
      <%= @trail.name %>
    </h1>
  </div>
<% end %>
<main class="div">
  <%= @trail.name %>
</main>