<% content_for :image_header do %>
  <div style="<%= show_trail_bg %>" class="image-header">
    <div class="container">
      <h1 class="header-title">
        <%= @trail.name %>
      </h1>
    </div>
  </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div>
        <h2>
          <%= @trail.name %>
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga recusandae quae dolorem magnam, harum doloremque nemo, adipisci non unde amet, nobis atque libero odio dolor et ea officiis, sit at?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga recusandae quae dolorem magnam, harum doloremque nemo, adipisci non unde amet, nobis atque libero odio dolor et ea officiis, sit at?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga recusandae quae dolorem magnam, harum doloremque nemo, adipisci non unde amet, nobis atque libero odio dolor et ea officiis, sit at?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga recusandae quae dolorem magnam, harum doloremque nemo, adipisci non unde amet, nobis atque libero odio dolor et ea officiis, sit at?
        </p>
      </div>
    </div>
  </div>

</div>