$white: #fff3df;

body {
  font-family: 'Calibre';
  font-size: 24px;
  color: #66615b;
  background-color: #FFFCF5;
  // background-image: linear-gradient(to bottom, transparent 0%, rgba(112, 112, 112, 0) 60%, rgba(186, 186, 186, 0.15) 100%);
}

.white {
  background-color: #afb42b;
  height: 50vh;
}

.header-title {
  font-weight: 900;
  color: $white;
  font-size: 10rem;
}

.navbar-default {
  background-color: #e65500;
  border-color: #e65500;
}

.navbar-default .navbar-nav {
    li > a {
      color: $white;
    }
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}