@font-face {
  font-family: 'Calibre';
  src: font-url('Calibre-Light.eot?#iefix') format('embedded-opentype'),  font-url('Calibre-Light.woff') format('woff'), font-url('Calibre-Light.ttf')  format('truetype'), font-url('Calibre-Light.svg#Calibre-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: font-url('Calibre-Medium.eot?#iefix') format('embedded-opentype'),  font-url('Calibre-Medium.woff') format('woff'), font-url('Calibre-Medium.ttf')  format('truetype'), font-url('Calibre-Medium.svg#Calibre-Medium') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: font-url('Calibre-Bold.eot?#iefix') format('embedded-opentype'),  font-url('Calibre-Bold.woff') format('woff'), font-url('Calibre-Bold.ttf')  format('truetype'), font-url('Calibre-Bold.svg#Calibre-Bold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: font-url('Calibre-Black.eot?#iefix') format('embedded-opentype'),  font-url('Calibre-Black.woff') format('woff'), font-url('Calibre-Black.ttf')  format('truetype'), font-url('Calibre-Black.svg#Calibre-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}