/* -- Ripple-effect ----------------------------------- */
.ripple-effect {
  position: relative;
  overflow: hidden;
  -webkit-transform: translatez(0);
}
.ink {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  transform: scale(0);
}
.ink {
  background: #fff;
  opacity: 1;
}
.ink.animate {
  -webkit-animation: ripple-effect 0.5s linear;
  -o-animation: ripple-effect 0.5s linear;
  animation: ripple-effect 0.5s linear;
}

@keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-webkit-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-moz-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-ms-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-o-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}

/* -- Dashboard --------------------------------------- */
.dashboard {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  padding: 5px;
  margin: 0;
}
.dashboard > * {
  display: block;
  float: left;
  margin: 0.3vw;
}

/* -- Tiles ------------------------------------------- */
a.tile {
  cursor: pointer;
}

.tile {
  color: #212121;
  overflow: hidden;
  outline: 0;
  border: 0;
  border-radius: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.tile:hover,
.tile:active,
.tile.active,
.tile:focus,
.tile:active:focus,
.tile.active:focus {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  // .content-wrapper .tile-content .tile-img.tile-img-bg {
  //   -webkit-background-size: 110%;
  //   -moz-background-size: 110%;
  //   -o-background-size: 110%;
  //   background-size: 110%;
  // }
}
/* -- Tiles content ----------------------------------- */
.tile .content-wrapper {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.tile .content-wrapper .tile-content {
  position: relative;
  display: block;
  overflow: hidden;

  .left-col {
    width: 48%;
    float: left;
    margin-right: 4%;
  }

  .right-col {
    width: 48%;
    float: left;
  }
}
.tile .content-wrapper .tile-content .tile-img {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.tile .content-wrapper .tile-content .tile-img.tile-img-sm {
  position: absolute;
  margin: 0;
  padding: 0;
  display: block;
  opacity: 0.3;
}
.tile .content-wrapper .tile-content .tile-img.tile-img-bg {
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}
.tile .content-wrapper .tile-content .tile-holder {
  position: relative;
  display: block;
  padding: 0;
}
.tile .content-wrapper .tile-content .tile-holder.tile-holder-sm {
  position: absolute;
  margin: 0;
  padding-left: 20px;
  // padding-top: 10px;
}
/* -- Tiles color ------------------------------------- */

.tile-blue {
  background-color: #738ffe;
}
.tile-blue .tile-content,
.tile-blue .title {
  color: #eceff1;
}
.tile-blue:hover,
.tile-blue:active,
.tile-blue.active {
  background-color: #4e6cef;
}
.tile-blue:focus {
  background-color: #455ede;
}
.tile-blue:disabled,
.tile-blue.disabled,
.tile-blue[disabled] {
  background-color: #b3b3b3;
}
.tile-blue .ink {
  background-color: #3b50ce;
}
.tile-blue-reverse {
  background-color: #738ffe;
}
.tile-blue-reverse:hover {
  background-color: #eceff1;
}
.tile-blue-reverse:hover .tile-content,
.tile-blue-reverse:hover .title {
  color: #738ffe;
}
.tile-blue-inverse {
  background-color: #eceff1;
}
.tile-blue-inverse .tile-content,
.tile-blue-inverse .title {
  color: #738ffe;
}
.tile-blue-inverse-reverse .tile-content,
.tile-blue-inverse-reverse .title {
  color: #738ffe;
}
.tile-blue-inverse-reverse:hover {
  background-color: #738ffe;
}
.tile-blue-inverse-reverse:hover .tile-content,
.tile-blue-inverse-reverse:hover .title {
  color: #eceff1;
}
.tile-blue-inverse-reverse .ink {
  background-color: #3b50ce;
}
.tile-light-blue {
  background-color: #29b6f6;
}
.tile-light-blue .tile-content,
.tile-light-blue .title {
  color: #eceff1;
}
.tile-light-blue:hover,
.tile-light-blue:active,
.tile-light-blue.active {
  background-color: #039be5;
}
.tile-light-blue:focus {
  background-color: #0288d1;
}
.tile-light-blue:disabled,
.tile-light-blue.disabled,
.tile-light-blue[disabled] {
  background-color: #b3b3b3;
}
.tile-light-blue .ink {
  background-color: #0277bd;
}
.tile-light-blue-reverse {
  background-color: #29b6f6;
}
.tile-light-blue-reverse:hover {
  background-color: #eceff1;
}
.tile-light-blue-reverse:hover .tile-content,
.tile-light-blue-reverse:hover .title {
  color: #29b6f6;
}
.tile-light-blue-inverse {
  background-color: #eceff1;
}
.tile-light-blue-inverse .tile-content,
.tile-light-blue-inverse .title {
  color: #29b6f6;
}
.tile-light-blue-inverse-reverse .tile-content,
.tile-light-blue-inverse-reverse .title {
  color: #29b6f6;
}
.tile-light-blue-inverse-reverse:hover {
  background-color: #29b6f6;
}
.tile-light-blue-inverse-reverse:hover .tile-content,
.tile-light-blue-inverse-reverse:hover .title {
  color: #eceff1;
}
.tile-light-blue-inverse-reverse .ink {
  background-color: #0277bd;
}
.tile-cyan {
  background-color: #26c6da;
}
.tile-cyan .tile-content,
.tile-cyan .title {
  color: #eceff1;
}
.tile-cyan:hover,
.tile-cyan:active,
.tile-cyan.active {
  background-color: #00acc1;
}
.tile-cyan:focus {
  background-color: #0097a7;
}
.tile-cyan:disabled,
.tile-cyan.disabled,
.tile-cyan[disabled] {
  background-color: #b3b3b3;
}
.tile-cyan .ink {
  background-color: #00838f;
}
.tile-cyan-reverse {
  background-color: #26c6da;
}
.tile-cyan-reverse:hover {
  background-color: #eceff1;
}
.tile-cyan-reverse:hover .tile-content,
.tile-cyan-reverse:hover .title {
  color: #26c6da;
}
.tile-cyan-inverse {
  background-color: #eceff1;
}
.tile-cyan-inverse .tile-content,
.tile-cyan-inverse .title {
  color: #26c6da;
}
.tile-cyan-inverse-reverse .tile-content,
.tile-cyan-inverse-reverse .title {
  color: #26c6da;
}
.tile-cyan-inverse-reverse:hover {
  background-color: #26c6da;
}
.tile-cyan-inverse-reverse:hover .tile-content,
.tile-cyan-inverse-reverse:hover .title {
  color: #eceff1;
}
.tile-cyan-inverse-reverse .ink {
  background-color: #00838f;
}
.tile-teal {
  background-color: #26a69a;
}
.tile-teal .tile-content,
.tile-teal .title {
  color: #eceff1;
}
.tile-teal:hover,
.tile-teal:active,
.tile-teal.active {
  background-color: #00897b;
}
.tile-teal:focus {
  background-color: #00796b;
}
.tile-teal:disabled,
.tile-teal.disabled,
.tile-teal[disabled] {
  background-color: #b3b3b3;
}
.tile-teal .ink {
  background-color: #00695c;
}
.tile-teal-reverse {
  background-color: #26a69a;
}
.tile-teal-reverse:hover {
  background-color: #eceff1;
}
.tile-teal-reverse:hover .tile-content,
.tile-teal-reverse:hover .title {
  color: #26a69a;
}
.tile-teal-inverse {
  background-color: #eceff1;
}
.tile-teal-inverse .tile-content,
.tile-teal-inverse .title {
  color: #26a69a;
}
.tile-teal-inverse-reverse .tile-content,
.tile-teal-inverse-reverse .title {
  color: #26a69a;
}
.tile-teal-inverse-reverse:hover {
  background-color: #26a69a;
}
.tile-teal-inverse-reverse:hover .tile-content,
.tile-teal-inverse-reverse:hover .title {
  color: #eceff1;
}
.tile-teal-inverse-reverse .ink {
  background-color: #00695c;
}
.tile-green {
  background-color: #2baf2b;
}
.tile-green .tile-content,
.tile-green .title {
  color: #eceff1;
}
.tile-green:hover,
.tile-green:active,
.tile-green.active {
  background-color: #0a8f08;
}
.tile-green:focus {
  background-color: #0a7e07;
}
.tile-green:disabled,
.tile-green.disabled,
.tile-green[disabled] {
  background-color: #b3b3b3;
}
.tile-green .ink {
  background-color: #0a7e07;
}
.tile-green-reverse {
  background-color: #2baf2b;
}
.tile-green-reverse:hover {
  background-color: #eceff1;
}
.tile-green-reverse:hover .tile-content,
.tile-green-reverse:hover .title {
  color: #2baf2b;
}
.tile-green-inverse {
  background-color: #eceff1;
}
.tile-green-inverse .tile-content,
.tile-green-inverse .title {
  color: #2baf2b;
}
.tile-green-inverse-reverse .tile-content,
.tile-green-inverse-reverse .title {
  color: #2baf2b;
}
.tile-green-inverse-reverse:hover {
  background-color: #2baf2b;
}
.tile-green-inverse-reverse:hover .tile-content,
.tile-green-inverse-reverse:hover .title {
  color: #eceff1;
}
.tile-green-inverse-reverse .ink {
  background-color: #0a7e07;
}

.tile-lime {
  background-color: #d4e157;
}
.tile-lime .tile-content,
.tile-lime .title {
  color: #eceff1;
}
.tile-lime:hover,
.tile-lime:active,
.tile-lime.active {
  background-color: #c0ca33;
}
.tile-lime:focus {
  background-color: #afb42b;
}
.tile-lime:disabled,
.tile-lime.disabled,
.tile-lime[disabled] {
  background-color: #b3b3b3;
}
.tile-lime .ink {
  background-color: #9e9d24;
}
.tile-lime-reverse {
  background-color: #d4e157;
}
.tile-lime-reverse:hover {
  background-color: #eceff1;
}
.tile-lime-reverse:hover .tile-content,
.tile-lime-reverse:hover .title {
  color: #d4e157;
}
.tile-lime-inverse {
  background-color: #eceff1;
}
.tile-lime-inverse .tile-content,
.tile-lime-inverse .title {
  color: #d4e157;
}
.tile-lime-inverse-reverse .tile-content,
.tile-lime-inverse-reverse .title {
  color: #d4e157;
}
.tile-lime-inverse-reverse:hover {
  background-color: #d4e157;
}
.tile-lime-inverse-reverse:hover .tile-content,
.tile-lime-inverse-reverse:hover .title {
  color: #eceff1;
}
.tile-lime-inverse-reverse .ink {
  background-color: #9e9d24;
}

.tile-yellow {
  background-color: #ffee58;
}
.tile-yellow .tile-content,
.tile-yellow .title {
  color: #eceff1;
}
.tile-yellow:hover,
.tile-yellow:active,
.tile-yellow.active {
  background-color: #fdd835;
}
.tile-yellow:focus {
  background-color: #fbc02d;
}
.tile-yellow:disabled,
.tile-yellow.disabled,
.tile-yellow[disabled] {
  background-color: #b3b3b3;
}
.tile-yellow .ink {
  background-color: #f9a825;
}
.tile-yellow-reverse {
  background-color: #ffee58;
}
.tile-yellow-reverse:hover {
  background-color: #eceff1;
}
.tile-yellow-reverse:hover .tile-content,
.tile-yellow-reverse:hover .title {
  color: #ffee58;
}
.tile-yellow-inverse {
  background-color: #eceff1;
}
.tile-yellow-inverse .tile-content,
.tile-yellow-inverse .title {
  color: #ffee58;
}
.tile-yellow-inverse-reverse .tile-content,
.tile-yellow-inverse-reverse .title {
  color: #ffee58;
}
.tile-yellow-inverse-reverse:hover {
  background-color: #ffee58;
}
.tile-yellow-inverse-reverse:hover .tile-content,
.tile-yellow-inverse-reverse:hover .title {
  color: #eceff1;
}
.tile-yellow-inverse-reverse .ink {
  background-color: #f9a825;
}

.tile-deep-orange {
  background-color: #ff7043;
}
.tile-deep-orange .tile-content,
.tile-deep-orange .title {
  color: #eceff1;
}
.tile-deep-orange:hover,
.tile-deep-orange:active,
.tile-deep-orange.active {
  background-color: #f4511e;
}
.tile-deep-orange:focus {
  background-color: #e64a19;
}
.tile-deep-orange:disabled,
.tile-deep-orange.disabled,
.tile-deep-orange[disabled] {
  background-color: #b3b3b3;
}
.tile-deep-orange .ink {
  background-color: #d84315;
}
.tile-deep-orange-reverse {
  background-color: #ff7043;
}
.tile-deep-orange-reverse:hover {
  background-color: #eceff1;
}
.tile-deep-orange-reverse:hover .tile-content,
.tile-deep-orange-reverse:hover .title {
  color: #ff7043;
}
.tile-deep-orange-inverse {
  background-color: #eceff1;
}
.tile-deep-orange-inverse .tile-content,
.tile-deep-orange-inverse .title {
  color: #ff7043;
}
.tile-deep-orange-inverse-reverse .tile-content,
.tile-deep-orange-inverse-reverse .title {
  color: #ff7043;
}
.tile-deep-orange-inverse-reverse:hover {
  background-color: #ff7043;
}
.tile-deep-orange-inverse-reverse:hover .tile-content,
.tile-deep-orange-inverse-reverse:hover .title {
  color: #eceff1;
}
.tile-deep-orange-inverse-reverse .ink {
  background-color: #d84315;
}
.tile-brown {
  background-color: #8d6e63;
}
.tile-brown .tile-content,
.tile-brown .title {
  color: #eceff1;
}
.tile-brown:hover,
.tile-brown:active,
.tile-brown.active {
  background-color: #6d4c41;
}
.tile-brown:focus {
  background-color: #5d4037;
}
.tile-brown:disabled,
.tile-brown.disabled,
.tile-brown[disabled] {
  background-color: #b3b3b3;
}
.tile-brown .ink {
  background-color: #4e342e;
}
.tile-brown-reverse {
  background-color: #8d6e63;
}
.tile-brown-reverse:hover {
  background-color: #eceff1;
}
.tile-brown-reverse:hover .tile-content,
.tile-brown-reverse:hover .title {
  color: #8d6e63;
}
.tile-brown-inverse {
  background-color: #eceff1;
}
.tile-brown-inverse .tile-content,
.tile-brown-inverse .title {
  color: #8d6e63;
}
.tile-brown-inverse-reverse .tile-content,
.tile-brown-inverse-reverse .title {
  color: #8d6e63;
}
.tile-brown-inverse-reverse:hover {
  background-color: #8d6e63;
}
.tile-brown-inverse-reverse:hover .tile-content,
.tile-brown-inverse-reverse:hover .title {
  color: #eceff1;
}
.tile-brown-inverse-reverse .ink {
  background-color: #4e342e;
}
/*-- Tiles size --------------------------------------- */

.tile-short {
  width: 63vw;
  height: 31vw;
}
.tile-short .content-wrapper .tile-content {
  height: 31vw;
  padding: 20px;
  padding-top: 0;
}

.tile-short .content-wrapper .tile-content .tile-img-bg {
  width: 63vw;
  height: 31vw;
  margin-left: -20px;
  margin-top: 0px;
}

.tile-short .content-wrapper .tile-content .tile-img-sm,
.tile-short .content-wrapper .tile-content .tile-holder-sm {
  bottom: 0px;
  left: 0px;
  background-color: rgba(175, 180, 54, 0.85);
  width: 100%;
  font-weight: 900;
  font-size: 3rem;
  color: #fff;
}
.tile-short.tile-narrow {
  width: 31.1vw;
}
.tile-short.tile-narrow .content-wrapper .tile-content .tile-img-bg {
  width: 31.1vw;
}

.tile-lg {
  width: 63vw;
  height: 42vw;
}
.tile-lg .content-wrapper .tile-content {
  height: 42vw;
  padding: 20px;
  padding-top: 0;
}

.tile-lg .content-wrapper .tile-content .tile-img-bg {
  width: 63vw;
  height: 42vw;
  margin-left: -20px;
  margin-top: 0px;
}

.tile-lg .content-wrapper .tile-content .tile-img-sm,
.tile-lg .content-wrapper .tile-content .tile-holder-sm {
  bottom: 0px;
  left: 0px;
  background-color: rgba(175, 180, 54, 0.85);
  width: 100%;
  font-weight: 900;
  font-size: 4vw;
  color: #fff;
}
.tile-lg.tile-narrow {
  width: 31.1vw;
}
.tile-lg.tile-narrow .content-wrapper .tile-content .tile-img-bg {
  width: 31.1vw;
}

.tile-short.tile-half-width,
.tile-lg.tile-half-width {
  width: 31.2vw;
}

.tile-short.tile-half-width .content-wrapper .tile-content .tile-img-bg,
.tile-lg.tile-half-width .content-wrapper .tile-content .tile-img-bg {
  width: 31.2vw;
}

.tile-short.tile-full-width,
.tile-lg.tile-full-width {
  width: 94.7vw;
}

.tile-short.tile-full-width .content-wrapper .tile-content .tile-img-bg,
.tile-lg.tile-full-width .content-wrapper .tile-content .tile-img-bg {
  width: 94.7vw;
}

.tile-narrow.tile-half-height {
  height: 20.7vw;
}

.tile-narrow.tile-half-height .content-wrapper .tile-content .tile-img-bg {
  height: 20.7vw;
}

.tile-flexible-height {
  height: auto;

  .content-wrapper {
    position: relative;

    .tile-content {
      height: auto;
      padding-top: 20px;
    }

  }
}

.non-tile {
  padding: 20px;
  max-width: 63vw;
}

// Tile overrides

.md-layout-filler {
  display: none;
}

/*-- Display animation -------------------------------- */
.display-animation > * {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.display-animation > .animated {
  -webkit-animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
.no-js .display-animation > * {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

@keyframes display {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-o-keyframes display {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-ms-keyframes display {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes display {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes display {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}