.change-language {
  width: 50px;
  height: 50px;
  background-color: #14B9FF;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 9;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 50px;

  a {
    color: $white;
  }
}

.navOpen{
  overflow: hidden;
}

.wrapper{
  transition-duration: 0.5s;
  transition-timing-function: swing;
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1vw;
  
  &.open{
    transform: translateX(250px)  translateY(50px);
    -webkit-transform: translateX(250px)  translateY(50px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  }
  
  section{
    max-width: 600px;
    margin: 0 auto;
    
    h1{
      font-weight: 300;
      font-size: 30px;
      margin-bottom: 10px;
    }
    
    h2{
      font-weight: 300;
      font-size: 20px;
      margin-bottom: 40px;
    }
    
    p{
      margin-bottom: 40px;
    }
  }
}

.openNav{
  transition-duration: 0.5s;
  transition-timing-function: swing;
  width: 50px;
  height: 50px;
  background-color: #14B9FF;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 9;
  
  &:hover{
    cursor: pointer;
  }
  
  .icon{
    transition-duration: 0.2s;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: white;
    top: 24px;
    left: 10px;
    
    &:before, &:after{
      transition-duration: 0.5s;
      background-color: white;
      position: absolute;
      content: "";
      width: 30px;
      height: 2px;
      left: 0px;
    }
    
    &:before{
      top: -7px;
    }
    
    &:after{
      top: 7px;
    }
  }
  
  &.open{
    transform: translateX(250px) translateY(50px);
    
    -webkit-transform: translateX(250px) translateY(50px);
    
    .icon{
      background-color: transparent;
      
      &:before, &:after{
        top: 0;
      }
      
      &:before{
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      
      &:after{
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
}

nav {
  background-color: #14B9FF;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  font-size: 24px;
  
  ul {
    width: 250px;
    margin-top: 50px;
    
    &:hover {
      li > a {
        color: rgba(255, 255, 255, 0.5);
      }
    }
    
    li {
      text-align: right;
      padding: 5px 35px;
      letter-spacing: 0.02em;
      display: block;
      font-weight: bold;
      color: white;

      a {
      transition-duration: 0.25s;
      color: white;
      font-weight: normal;
      position: relative;
      
        &:hover {
          cursor: pointer;
          color: white;
        }

        &:active {
          top: 1px;
        }
      }
    }
  }
  
  &.open{
  }
}