<div class="tile tile-short tile-half-width tile-narrow tile-green" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>
        Links
      </h2>
      
      
    </span>      
  </span>
</div>

<div class="tile tile-short tile-narrow tile-deep-orange" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg pig"></span>
    </span>      
  </span>
</div>

<div class="tile tile-short tile-half-width tile-narrow tile-light-blue" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>
        Credits
      </h2>
      <h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </h3>
      <p>
        &copy; Trail de Rodrigues
      </p>
      <p>Website by Tim</p>
      
    </span>      
  </span>
</div>

<div class="tile tile-short tile-narrow tile-deep-orange md-layout-filler" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg runners-on-rope"></span>
    </span>      
  </span>
</div>