<header>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Trail of Rodrigues", page_path('trail-rodrigues') %></li>
      <li><%= link_to "Trail Calendar", trails_path %></li>
    </ul>
  </nav>
  <div class="openNav z-depth-3">
    <div class="icon"></div>
  </div>
</header>