<div class="tile tile-lg tile-full-width tile-flexible-height">
  <span class="content-wrapper">
    <span class="tile-content center">
      <% @home.sponsors.each do |image| %>
        <%= image_tag "sponsors/#{image.split('/').last}", class: "sponsors-image" %>
      <% end %>
    </span>      
  </span>
</div>