<div class="tile tile-short tile-half-width tile-narrow tile-amber" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg girls-in-red"></span>
    </span>      
  </span>
</div>

<div class="tile tile-short tile-half-width tile-narrow tile-deep-orange" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>
        Testimonials
      </h2>
      <h3>
        "It was the best trail we have ever done, I can't wait to come back next year!"
      </h3>
      <p>
        Tim Cartwright,
      <br />
        Trail de Rodrigues 2014
      </p>
      
    </span>      
  </span>
</div>

<div class="tile tile-short tile-narrow tile-deep-orange" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg yan"></span>
    </span>      
  </span>
</div>

<div class="tile tile-short tile-narrow tile-deep-orange md-layout-filler" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg runners-on-rope"></span>
    </span>      
  </span>
</div>