<div class="tile tile-short tile-half-width tile-narrow tile-amber">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg girls-in-red"></span>
    </span>      
  </span>
</div>

<div class="tile tile-short tile-half-width tile-narrow tile-deep-orange">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>
        <%= t('testimonials.title') %>
      </h2>
      <h3>
        "The Trail of Rodrigues was one of my highlights of the year and I would recommend it to all runners."
      </h3>
      <p>
        Ryan Sanders
      <br />
      </p>
      <!-- <p class="tile-footer">
        <%= link_to raw("<i class='material-icons'>arrow_forward</i>"), page_path(''), class: "btn-floating btn-large waves-effect waves-light orange" %>
      </p> -->
      
    </span>      
  </span>
</div>

<div class="tile tile-short tile-narrow tile-deep-orange">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg yan"></span>
    </span>      
  </span>
</div>

<% unless controller_name == 'home' %>
  <div class="tile tile-short tile-narrow tile-deep-orange md-layout-filler">
    <span class="content-wrapper">
      <span class="tile-content">
        <span class="tile-img tile-img-bg jumping-off-sq"></span>
      </span>      
    </span>
  </div>
<% end %>