<div class="tile tile-short tile-half-width tile-narrow tile-teal">
  <span class="content-wrapper">
    <span class="tile-content center">
      <h2>Trail du Perroquet</h2>
      <h3>42km</h3>
      <h3>1872+ / 1850-</h3>
      <p>Depart 05h00 @ Cotton Bay</p>
      <p>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#course-42">
          Course <i class='material-icons'>open_in_new</i>
        </a>
      </p>
    </span>      
  </span>
</div>

<div class="tile tile-short tile-narrow tile-green" href="#">
  <span class="content-wrapper">
    <span class="tile-content center">
      <h2>Trail du Solitaire</h2>
      <h3>22km</h3>
      <h3>900+ / 1180-</h3>
      <p>Depart 07h00 @ Le Chou</p>
      <p>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#course-22">
          Course <i class='material-icons'>open_in_new</i>
        </a>
      </p>
    </span>     
  </span>
</div>

<div class="tile tile-short tile-half-width tile-narrow tile-cyan" href="#">
  <span class="content-wrapper">
    <span class="tile-content center">
      <h2>Trail de la Tortue</h2>
      <h3>7km</h3>
      <h3>147+ / 317-</h3>
      <p>Depart @ Maréchal</p>
      <p>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#course-7">
          Course <i class='material-icons'>open_in_new</i>
        </a>
      </p>
    </span>       
  </span>
</div>


<div class="tile tile-short tile-narrow tile-deep-orange md-layout-filler" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg runners-on-rope"></span>
    </span>      
  </span>
</div>