<div class="tile tile-short tile-half-width tile-narrow tile-teal">
  <span class="content-wrapper">
    <span class="tile-content center">
      <h3 class="h1">44k</h3>
      <h2>Trail de l'Eden</h2>
      <h3 class="h1">1872m<i class='material-icons'>arrow_upward</i> 1850m<i class='material-icons'>arrow_downward</i></h3>
      <p><i class='material-icons'>access_time</i> 05h00 <i class='material-icons'>place</i> Cotton Bay</p>
      <p>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#course-42">
          Course <i class='material-icons'>open_in_new</i>
        </a>
      </p>
    </span>      
  </span>
</div>

<div class="tile tile-short tile-narrow tile-green" href="#">
  <span class="content-wrapper">
    <span class="tile-content center">
      <h3 class="h1">22k</h3>
      <h2>Trail du Solitaire</h2>
      <h3 class="h1">900m<i class='material-icons'>arrow_upward</i> 1180m<i class='material-icons'>arrow_downward</i></h3>
      <p><i class='material-icons'>access_time</i> 07h00 <i class='material-icons'>place</i> Pointe L’herbe</p>
      <p>
      <p>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#course-22">
          Course <i class='material-icons'>open_in_new</i>
        </a>
      </p>
    </span>     
  </span>
</div>

<div class="tile tile-short tile-half-width tile-narrow tile-cyan" href="#">
  <span class="content-wrapper">
    <span class="tile-content center">
      <h3 class="h1">7k</h3>
      <h2>Trail de la Tortue</h2>
      <h3 class="h1">147m<i class='material-icons'>arrow_upward</i> 317m<i class='material-icons'>arrow_downward</i></h3>
      <p><i class='material-icons'>access_time</i> 09h00 <i class='material-icons'>place</i> Maréchal</p>
      <p>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#course-7">
          Course <i class='material-icons'>open_in_new</i>
        </a>
      </p>
    </span>       
  </span>
</div>